<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="online.padev.kariti"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_kariti"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_kariti_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kariti"
        android:usesCleartextTraffic="true"
        tools:targetApi="26">
        <activity
            android:name="online.padev.kariti.CameraxActivity"
            android:exported="false"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>
        <activity
            android:name="online.padev.kariti.CameraNoAppActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.ilustracionVoidSchoolctivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.SplachActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.GaleriaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.VisualProvaCorrigidaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.VisualProvaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.ProvaCorrigirActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.ProvaCartoesActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.ProvaCadConfirActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.GabaritoActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.CadProvaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.EditarAlunoActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.EditarTurmaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.DadosTurmaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.VisualTurmaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.CadTurmaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.EscolaDesativadaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.ProvaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.TurmaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.AtualizarSenha"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.VisualAlunoActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.CadAlunoActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.AlunoActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.DetalhesEscolaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.VisualEscolaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.CadEscolaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.LoginActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.CodSenhaActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.InicioActivity"
            android:exported="false" />
        <activity
            android:name="online.padev.kariti.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="online.padev.kariti.MainActivity"
            android:exported="true" />
    </application>

</manifest>